---
import { buttonVariants } from "@/components/ui/button";
import Layout from "@/layout/Layout.astro";
---

<Layout
  title="BlogTech | P치gina No Encontrada"
  description="P치gina no encontrada en BlogTech by Sergio Maj칠"
>
  <section class="w-full flex flex-col items-center gap-4">
    <h1>404 游땩</h1>
    <p class="text-center leading-10">
      Opps! P치gina no encontrada.<br />
      La p치gina que buscas no se encuentra o no esta disponible temporalmente.
    </p>
    <a href="/" class={buttonVariants({})}>
      Volver al inicio
    </a>
  </section>
</Layout>
