---
import { ModeToggle } from "./ModeToggle";
---

<nav class="flex justify-between items-center py-6">
  <a href="/" class="text-primary font-bold text-3xl">Blog Tech</a>
  <ModeToggle client:load />
</nav>
